
{{#withSort post 'data.posted'}}
    {{#each this.pages }}
        {{!debug this}}
        <article class="post">
            <header class="post-header">
                <span class="post-meta">
                    <time datetime="{{moment posted format="YYYY-MM-DD"}}">{{moment posted format="DD MMM YYYY"}}</time>
                </span>
                <h2 class="post-title"><a href="{{replaceStr dest 'dist' ''}}">{{data.title}}</a></h2>
            </header>
            <section class="post-excerpt">
                <p>
                    {{#markdown}}
                        {{truncate page 50 "..."}}
                    {{/markdown}}
                </p>
            </section>
        </article>
    {{/each}}
{{/withSort}}